ENVIRONMENT=production
API_HOST=0.0.0.0
API_PORT=8000
DASHBOARD_PORT=8501

API_KEY_SECRET=change_me
DATABASE_URL=sqlite:///./data/orl.db

API_MEMORY_LIMIT=3G
DASHBOARD_MEMORY_LIMIT=1.5G
NGINX_MEMORY_LIMIT=256M
